.tittleCounter {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  padding: 28px 10px 10px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.tittleCounter span {
  color: rgb(135, 232, 235);
  font-weight: bold;
}

.tittleCongratulations {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  padding: 28px 10px 10px;
  margin: 0;
}

.confeti {
  width: 100%;
  height: 100%;
}